<p-card header="Manifiesto">

    <div class="grid formgrid p-fluid">

        <div class="col-12 mb-12 lg:col-4 lg:mb-2 py-3">

            <p-dropdown [options]="manifiestos" [(ngModel)]="manifiesto" placeholder="Seleccione Manifiesto"
                [filter]="true" filterBy="naveManifiesto" optionLabel="naveManifiesto" [showClear]="true" (onClick)="onSelect()" ></p-dropdown>

        </div>
    </div>
</p-card>

<br>

<p-card header="Bls" *ngIf="seleccion">
    <p-table [value]="bls" [lazy]="true" (onLazyLoad)="loadCustomers($event)" dataKey="id" [tableStyle]="{'min-width': '75rem'}" *ngIf="bls.length >0"
   
    [paginator]="true" [rows]="row" [totalRecords]="totalRecords" [loading]="loading" >
    <ng-template pTemplate="header">
   
        <tr>
           
            <th>Nro Bl</th>
            <th>Manifiesto</th>
            <th>Nave</th>
            <th>Estado Mfto</th>
       
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bl>
        <tr>
            
            <td>{{bl.bl}}</td>
            <td>{{bl.manifiesto}}</td>
            <td>{{bl.nave}}</td>
            <td>{{bl.estado}}</td>
            
        </tr>
    </ng-template>
</p-table>



</p-card>